asn1crypto==0.24.0
cffi==1.15.1
coincurve==17.0.0
cryptography==2.6.1
cytoolz==0.12.0
distro-info==0.21
eciespy==0.3.12
entrypoints==0.3
eth-hash==0.3.3
eth-keys==0.4.0
eth-typing==3.2.0
eth-utils==2.0.0
keyring==17.1.1
keyrings.alt==3.1.1
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.15.0
PyGObject==3.30.4
python-apt==1.8.4.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
toolz==0.12.0
unattended-upgrades==0.1
